<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Meetorite</a>
    </div>
    <p class="navbar-text pull-right">
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
      <li><%= link_to "Home", root_path %></li>
      <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= @user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Profile", current_user_path %></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
      <% else %>
          <li><%= link_to "Log in", login_path, id: 'login' %></li>
          <li><%= link_to "Sign up", signup_path, id: 'signup' %></li>
      <% end %>
    </ul>

  </div>
</nav>